<img src="../assets/images/gastroenterology.jpg" height= "300px" width="1300px">
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor10.jpg" height="230" width="200" alt="Dr.Dheeraj Kapoor">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Dheeraj Kapoor</h3>
            <p class="doc-qua">MBBS, DM - Gastroenterology</p>
            <h4>Department</h4>
            <p>Gastroenterology<p>
            <h4>Languages</h4>
            <p>English, Hindi, Marathi</p>
        </div>
    </div>
</div>
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor4.jpg" height="230" width="200" alt="Dr. Abhishek Srivastava">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Abhishek Srivastava</h3>
            <p class="doc-qua">MBBS, MD - General Medicine, DNB - General Medicine, DM - Gastroenterology, DNB - Gastroenterology</p>
            <h4>Department</h4>
            <p>Gastroenterology</p>
            <h4>Languages</h4>
            <p>English, Hindi, Marathi</p>
        </div>
    </div>
</div>