<img src="../assets/images/cancer.jpg" height= "300px" width="1300px">
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor5.jpg" height="230" width="200" alt="Dr. Rani Shetty">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Rani Shetty</h3>
            <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
            <h4>Department</h4>
            <p>Cancer Care</p>
            <h4>Languages</h4>
            <p>English, Hindi, Marathi, French</p>
       
        </div>
    </div>
        