<!-- FOOTER -->
<footer class="bg-dark mt-4">
    <div class="row mx-3">
        <div class="footer-div1">
            <ul class="footer-nav">
                <li class="footer-li">
                    Patients
                </li> 
                <li class="sub-link sub-link-top">
                   <a class="fnav-link" routerLink="book-aptmt" routerLinkActive="active">Book Appointment</a>   
                </li> 
            </ul>
        </div>

        <div class="footer-div1">
            <ul class="footer-nav">
                <li class="footer-li">
                    Doctors
                </li> 
                <li class="sub-link sub-link-top">
                    Cardiology  
                    </li> 
                    
                    <li class="sub-link">
                Dermatology
                    </li>
                    <li class="sub-link">
                    Neurology
                    </li>
                    <li class="sub-link">
                    Hair Transplant
                    </li>
                    <li class="sub-link">
                        Cancer Care
                    </li>
                    <li class="sub-link">
                        Gastroenterology
                    </li>
            </ul>
        </div>

        <div class="footer-div1">
            <ul class="footer-nav">
                <li class="footer-li">
                    Contact Us
                </li> 
                <li class="sub-link sub-link-top">
                    Enquiry
                    </li> 
                    
                    <li class="sub-link">
                FAQ
                    </li>
                    <li class="sub-link">
                    Terms & Conditions
                    </li>
            </ul>
        </div>

        <div class="social-footer ml-auto">
            <div class="center">
                <img src="../assets/images/icons/Twitter" alt="Twitter" height="25" width="25">
            </div>
        
            <div class="center">
                <img src="../assets/images/icons/Facebook" alt="Facebook" height="25" width="18">
            </div>
        
            <div class="center">
                <img src="../assets/images/icons/Instagram" alt="Instagram" height="25" width="25">
            </div>
        </div>
    </div>
   
    <p><span class="copyright">
            &copy; Copyright 2022 LifeCare Hospital
        </span>
    </p>
</footer>