<img src="../assets/images/neuro.jpg" height= "300px" width="1300px">
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor11.jpg" height="230" width="200" alt="Dr. Mohit Bhatt">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Mohit Bhatt</h3>
            <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery), FRCS (Neurosurgery)</p>
            <h4>Department</h4>
            <p>Neurology</p>
            <h4>Languages</h4>
            <p>English, Hindi, Marathi</p>
        </div>
    </div>
</div>
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor2.jpg" height="230" width="200" alt="Dr. Rahul Bhat">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Rahul Bhat</h3>
            <p class="doc-qua">MBBS, MD (Gen Medicine), DM (Neurology)</p>
            <h4>Department</h4>
            <p>Neurology</p>
            <h4>Languages</h4>
            <p>English, Hindi</p>
        </div>
    </div>
</div>