<img src="../assets/images/dermatology.jpg" height= "300px" width="1300px">
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor3.jpg" height="230" width="200" alt="Dr. Amol Ghalme">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr.Amol Ghalme</h3>
            <p class="doc-qua">M.D. (Internal Medicine), D.M. (Pulmonary and critical care)</p>
            <h4>Department</h4>
            <p>Dermatology</p>
            <h4>Languages</h4>
            <p>English, Hindi</p>
        </div>
    </div>
</div>
       