
<!-- THIS IS CAROUSEL -->
    <!-- SLIDER WITH INDICATORS -->
        
    <div id="slider3" class="carousel slide mb-5" data-ride="carousel">
        <ol class="carousel-indicators">
            <li class="active" data-target="#slider3" data-slide-to="0"></li>
            <li data-target="#slider3" data-slide-to="1"></li>
            <li data-target="#slider3" data-slide-to="2"></li>
            <li data-target="#slider3" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img class="d-block img-fluid" src="../assets/images/Hospital Building.png" height="300" alt="First Slide">
            </div>
            <div class="carousel-item">
            <img class="d-block img-fluid" src="../assets/images/IMR Machine.png" height="300" alt="Second Slide">
            </div>
            <div class="carousel-item">
            <img class="d-block img-fluid" src="../assets/images/pic1.jpg" height="300" alt="Third Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block img-fluid" src="../assets/images/Beds.jpg" height="300" alt="Third Slide">
                </div>
        </div>

        <!-- CONTROLS --> 
        <a href="#slider3" class="carousel-control-prev" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>

        <a href="#slider3" class="carousel-control-next" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        </div>


<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->

<!-- OUR SPECIALITIES -->
<div class="bg-light ">
    <h3 class="text-center display-4 pt-4">Our Specialities</h3>

    <div style="padding-left: 7em; padding-right: 7em;">
        <div class="d-inline-block card ml-3 mb-3 mt-5" style="width: 20rem;">
            <div class="card-body text-center">
                <h4 class="card-title">Cardiology </h4>
                <h6 class="card-subtitle text-muted">We care your heart</h6>
                <p class="m-4"><img src="https://img.icons8.com/external-colored-outline-lafs/64/000000/external-cardiology-stop-virus-outline-colored-iconset-part-2-colored-outline-lafs.png"/></p>
                <a class="btn btn-outline-primary" routerLink="cardiology" routerLinkActive="active">See Doctors </a>
            </div>
        </div>

        <div class="d-inline-block card ml-3 mb-3 mt-5" style="width: 20rem;">
            <div class="card-body text-center">
                <h4 class="card-title">Dermatology </h4>
                <h6 class="card-subtitle text-muted">Flawless skin is not far away</h6>
                <p class="m-4"><img src="https://img.icons8.com/external-gradient-icons-maxicons/85/000000/external-cell-medical-gradient-gradient-icons-maxicons.png" height="64" width="64"/></p>
                <a class="btn btn-outline-primary"  routerLink="dermatology" routerLinkActive="active">See Doctors </a>
            </div>
        </div>

        <div class="d-inline-block card ml-3 mb-3 mt-5" style="width: 20rem;">
            <div class="card-body text-center">
                <h4 class="card-title">Neurology </h4>
                <h6 class="card-subtitle text-muted">Regain energy</h6>
                <p class="m-4"><img src="https://img.icons8.com/external-others-pike-picture/80/000000/external-brain-neurology-medicine-others-pike-picture-9.png" height="64" width="64"/></p>
                <a class="btn btn-outline-primary"  routerLink="neurology" routerLinkActive="active">See Doctors </a>
            </div>
        </div>

        <div class="d-inline-block card ml-3 mb-3" style="width: 20rem;">
            <div class="card-body text-center">
                <h4 class="card-title">Cancer Care</h4>
                <h6 class="card-subtitle text-muted">Begin your revival with us</h6>
                <p class="m-4"><img src="../assets/images/icons/icons8-cancer-ribbon-50.png" height="64" width="64"/></p>
                <a class="btn btn-outline-primary"  routerLink="cancercare" routerLinkActive="active" [id]="cancer">See Doctors </a>
            </div>
        </div>

        <div class="d-inline-block card ml-3 mb-3" style="width: 20rem;">
            <div class="card-body text-center">
                <h4 class="card-title">Hair Transplant</h4>
                <h6 class="card-subtitle text-muted">Magic of medical science</h6>
                <p class="m-4"><img src="../assets/images/icons/icons8-man-100.png" height="64" width="64"/></p>
                <a class="btn btn-outline-primary" routerLink="hairtransplant" routerLinkActive="active">See Doctors </a>
            </div>
        </div>

        <div class="d-inline-block card ml-3 mb-3" style="width: 20rem;">
            <div class="card-body text-center">
                <h4 class="card-title">Gastroenterology</h4>
                <h6 class="card-subtitle text-muted">Keep your gut clean</h6>
                <p class="m-4"><img src="https://img.icons8.com/office/80/000000/stomach.png" height="64" width="64"/></p>
                <a class="btn btn-outline-primary" routerLink="gastro" routerLinkActive="active">See Doctors </a>
            </div>
        </div>
    </div>
</div>