<!-- <app-patients></app-patients> -->
<div class="ml-auto">
  <h4>Your appointment is booked Successfully!!</h4>
  <h6>Appointment Details:</h6>    
  <div>
   First Name:&nbsp;<strong>{{lastEntry.firstName}}</strong> <br>
   Last Name: &nbsp; <strong>{{lastEntry.lastName}}</strong>  <br>
   Mobile No.:&nbsp; <strong>{{lastEntry.mobileNo}}</strong> <br>
   Appointment Date:&nbsp; <strong>{{lastEntry.appointmentDate}}</strong> <br>
   Appointment Time:&nbsp; <strong>{{lastEntry.appointmentTime}}</strong> <br>
   Doctor Name:&nbsp; <strong>{{lastEntry.doctorName}}</strong> <br>
   Speciality:&nbsp; <strong>{{lastEntry.speciality}}</strong> <br>
  </div>
</div>