<div id="header-container">
    <div id="feature-section">
        <h1 class="feature-section-title"><span style="background-color:#6dc77a; color:#ffffff">"DOCTORS HAVE A BIG RESPONSIBILITY TO BRING SMILES ON THE FACES OF SUFFERING HUMANITY."</span></h1>
        <div class="feature-content">
            <div class="feature-content-inner">
  
            <div class="col-3">
                <img src="../assets/images/hpm1.jpg">
                <p>"Not all angels have wings some have stethoscope"</p>
            </div>
            <div class="col-3">
                <img src="../assets/images/hpm2.jpg">
                <p>"You are what you eat, so dont be fast, cheap, easy, or fake."</p>
            </div>
            <div class="col-3">
              <img src="../assets/images/hpm3.jpg">
              <p>“The good physician treats the disease; the great physician treats the patient who has the disease."</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content-part">
      <div class="findadoctor-inner">
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor1.jpg"  class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Abhay Kumar">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Abhay Kumar</h2>
                      <p class="doc-qua">MD, DM, DNB</p>
                      <h4>Department</h4>
                      <p>Cardiology</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor2.jpg"  class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Rahul Bhat">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Rahul Bhat</h2>
                      <p class="doc-qua">MBBS, MD (Gen Medicine), DM (Neurology)</p>
                      <h4>Department</h4>
                      <p>Neurology</p>
                      <h4>Languages</h4>
                      <p>English, Hindi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor5.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Rani Shetty">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Rani Shetty</h2>
                      <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
                      <h4>Department</h4>
                      <p>Cancer Care</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi, French</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor3.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Amol Ghalme">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr.Amol Ghalme</h2>
                      <p class="doc-qua">M.D. (Internal Medicine), D.M. (Pulmonary and critical care)</p>
                      <h4>Department</h4>
                      <p>Dermatology</p>
                      <h4>Languages</h4>
                      <p>English, Hindi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor4.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Abhishek Srivastava">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Abhishek Srivastava</h2>
                      <p class="doc-qua">MBBS, MD - General Medicine, DNB - General Medicine, DM - Gastroenterology, DNB - Gastroenterology</p>
                      <h4>Department</h4>
                      <p>Gastroenterology</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor7.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Bhavana Patil">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Bhavana Patil</h2>
                      <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
                      <h4>Department</h4>
                      <p>Hair Transplant</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor6.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Akshat Kayal">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Akshat Kayal</h2>
                      <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
                      <h4>Department</h4>
                      <p>Hair Transplant</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor9.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Prerna Bhurat">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Prerna Bhurat</h2>
                      <p class="doc-qua">MBBS, MD(Internal Medicine),DM (Cardiology)</p>
                      <h4>Department</h4>
                      <p>Cardiology</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor8.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Subha Hegde">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Subha Hegde</h2>
                      <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
                      <h4>Department</h4>
                      <p>Hair Transplant</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor11.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr. Mohit Bhatt">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Mohit Bhatt</h2>
                      <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery), FRCS (Neurosurgery)</p>
                      <h4>Department</h4>
                      <p>Neurology</p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
          <div class="findadoctor-box">
              <div class="talent-profile">
                  <div class="talent-left">
                      <img src="../assets/images/doctor10.jpg" class="img-fluid" alt="Responsive image" height="230" width="200" alt="Dr.Dheeraj Kapoor">
                  </div>
                  <div class="talent-right">
                      <h2 class="doc-title">Dr. Dheeraj Kapoor</h2>
                      <p class="doc-qua">MBBS, DM - Gastroenterology</p>
                      <h4>Department</h4>
                      <p>Gastroenterology<p>
                      <h4>Languages</h4>
                      <p>English, Hindi, Marathi</p>
                  </div>
              </div>
          </div>
  
      </div>
  </div>
  
