/* You can add global styles to this file, and also import other style files */
.main{
    margin-left: 50px;
    margin-right: 50px;
}
::placeholder{
    font-size: small;
    padding: 2px 10px 2px 4px;
    float: inline-start;
}
.footer-div1{
    display: inline-flex;
    flex-basis: 1em;
}
.footer-nav{
    font-size: small;
    color: #ffffff;
    list-style: none;
    display: inline-block;
    margin-top: 1em;
}
.footer-li{
    display: inline-block;
    padding-right: 6em;;
    margin-top: 10px;
}
.inside-ul{
    list-style: none;
    color: #ffffff;
    font-size: smaller;
    float: left;
}
.link {
    color: #ffffff;
    text-decoration: none;
    float: inline-start;
}
.social-footer{
   float: right;   
   margin-top: 2em;
   margin-right: 40px;
}
.center{
    display: inline-block;
    margin-right: 1em;
}
.footer-sub-nav{
    display: inline;
 }
.sub-link{
    font-size: x-small;
}
.sub-link-top{
    margin-top: 1em;
}
.copyright{
    color: #ffffff;
    font-size: .9em;
    padding-left: 530px;
}
footer p{
    padding-top: 4em;
    padding-bottom: 2em;
}
.fnav-link{
    color: #ffffff;
    text-decoration: none;
}
.asterick{
    color: red;
}
footer{
    clear: both;
}