<img src="../assets/images/hair.jpg" height= "300px" width="1300px">
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor7.jpg" height="230" width="200" alt="Dr. Bhavana Patil">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Bhavana Patil</h3>
            <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
            <h4>Department</h4>
            <p>Hair Transplant</p>
            <h4>Languages</h4>
            <p>English, Hindi, Marathi</p>
        </div>
    </div>
</div>
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor6.jpg" height="230" width="200" alt="Dr. Akshat Kayal">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Akshat Kayal</h3>
            <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
            <h4>Department</h4>
            <p>Hair Transplant</p>
            <h4>Languages</h4>
            <p>English, Hindi, Marathi</p>
        </div>
    </div>
</div>
<div class="findadoctor-box">
    <div class="talent-profile">
        <div class="talent-left">
            <img src="../assets/images/doctor8.jpg" height="230" width="200" alt="Dr. Subha Hegde">
        </div>
        <div class="talent-right">
            <h3 class="doc-title">Dr. Subha Hegde</h3>
            <p class="doc-qua">MS (General Surgery), DNB (General Surgery), FRCS (General Surgery)</p>
            <h4>Department</h4>
            <p>Hair Transplant</p>
            <h4>Languages</h4>
            <p>English, Hindi, Marathi</p>
        </div>
    </div>
</div>