<img src="../assets/images/cardiology.jpg" height= "300px" width="1300px">
<div id="content-part">
    <div class="findadoctor-inner">
        <div class="findadoctor-box">
            <div class="talent-profile">
                <div class="talent-left">
                    <img src="../assets/images/doctor1.jpg" height="230" width="200" alt="Dr. Abhay Kumar">
                </div>
                <div class="talent-right">
                    <h3 class="doc-title">Dr. Abhay Kumar</h3>
                    <p class="doc-qua">MD, DM, DNB</p>
                    <h4>Department</h4>
                    <p>Cardiology</p>
                    <h4>Languages</h4>
                    <p>English, Hindi, Marathi</p>
                    
                </div>
            </div>
        </div>
        <div class="findadoctor-box">
            <div class="talent-profile">
                <div class="talent-left">
                    <img src="../assets/images/doctor9.jpg" height="230" width="200" alt="Dr. Prerna Bhurat">
                </div>
                <div class="talent-right">
                    <h3 class="doc-title">Dr. Prerna Bhurat</h3>
                    <p class="doc-qua">MBBS, MD(Internal Medicine),DM (Cardiology)</p>
                    <h4>Department</h4>
                    <p>Cardiology</p>
                    <h4>Languages</h4>
                    <p>English, Hindi, Marathi</p>
                </div>
            </div>
        </div>